extends layout

block append scripts
  script(src='/Javascript/searchCourse.js')

block append styles
  link(rel='stylesheet', type='text/css', href='/CSS/addcoursestyles.css')

block content
    .container-fluid
      .row
        #course-form.col-md-6
          .card
            h5.card-header.info-color.white-text.text-center.py-4
              strong Fill out the form to search for QC First courses
            |                   
            .card-body.px-lg-5
              form.md-form.myForm(action='/searchform', method='post')
                .text-center
                  p Select the term:
                |                         
                select#termselection(name='termselection')
                  option(value='Fall 2021', name='nextTermOption') Fall 2021
                  |                            
                  option(value='Summer 2021', name='currentTermOption') Summer 2021
                |       
                .text-center
                  p Select course department:
                |                         
                select#deptselection(name='deptSelection')
                  option(value='Computer Science', name='csDept') Computer Science
                  |                            
                  option(value='Math', name='mathDept') Math
                  |                            
                  option(value='English', name='englishDept') English 
                  |                            
                  option(value='Arts', name='artsDept') Arts               
                |                        
                label(for='input') Course Number
                |                         
                input#input.form-control(type='text', placeholder='courseid', name='courseIdForm')
                |
                button#search-btn.btn.btn-primary(type='submit') Search course
        |             
        .col-md-6
          .img-container
            img(src='../Images/professor2.jpg', alt='classroom', width='100%')
      // end of div row
      .table-responsive
        table#stud-schedule-table.table.table-hover
          thead
           caption #{ user.lastname }'s current schedule
           |
           tr
            th Course
            |
            th Course Name
            |                        
            th Days
            |                      
            th Time
          tbody
           each course in Courses
            tr
             td.courseNumInfo= (course.get("courseNumber") + '-' + course.get("courseSection"))
             |                    
             td.courseNameInfo= course.get("courseName")
             |                      
             td 
             |
             td 
             |
      // footer goes here
      hr
      |          
      footer
        .row
          .col-md-6
            p Copyright &copy; 2021 QC First
          |                
          .col-md-6.text-md-right
            a.text-dark(href='#') Terms of Use
            |  
            |                   
            span.text-muted.mx-2 |
            |  
            |                   
            a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div