doctype html
// Project code by: David Acuqui
//
  Name: David Acuqui
  Date: 04.22.2021
  Section: CS 355-54
  
  Photos taken from https://unsplash.com/ (search keywords: college, professor, student)
html(lang='en')
  head
    meta(charset='utf-8')       
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block title     
     title Professor homepage
    block scripts
      script(src='/Javascript/jquery-3.0.0.min.js')
      script(src='/Javascript/bootstrap.min.js')
    block styles
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css') 
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')   
      link(rel='stylesheet' type='text/css' href='/CSS/navbarstyles.css')
  body
   if user
    nav.navbar.navbar-expand-md.fixed-top.myNav(role='navigation')
     .container-fluid
      a.navbar-brand(href='/instructorhome')
       img.navlogo(src='/Images/QCFirstLogo.png', alt='qcfirstlogo')     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse')
       span.navbar-toggler-icon
       i.fa.fa-bars  
      #navbarCollapse.collapse.navbar-collapse
       .navbar-nav.navLinks
        a.nav-item.nav-link(href='/instructorhome') Home
        a.nav-item.nav-link(href='/managecourse') My Courses 
        a.nav-item.nav-link(href='/createcourse') Create Course 
        a.nav-item.nav-link(href='/deletecourse') Delete Course 
       form.form-inline.ml-auto.navSearchLink
        input.form-control.mr-sm-2(type='text' placeholder='Search courses..')    
        a(href='search')              
         button.btn.btn-outline-light(type='button') Search               
       .navbar-nav.ml-auto.navAcctLink
        a.nav-item.nav-link(href='/logout') Logout
    // End of nav bar
  block content