extends instructorlayout 

block append styles
 link(rel='stylesheet' type='text/css' href='/CSS/profhomestyles.css') 

block content
 .jumbotron.text-center
  h4.card-title.h4.pb-2.profattentionjumbo
   strong QC First
   |             
   .view.overlay.my-4
    img.img-fluid(src='/Images/campus.jpg' alt='collegecampus')
    |                
    a(href='#')
     .mask.rgba-white-slight
    |             
   h5.indigo-text.h5.mb-4 Welcome to QC First Course Management
        
  p.card-text
   | Create courses with ease.  View the rosters for your courses. Delete
   | any course at any time!
   |       
 #prof-main-div.container-fluid
  .row
   .col-md-6
    .card
     img.card-img-top(src='/Images/professor.jpg', alt='professor1')
     |                   
     .card-body.text-center
      h5.card-title Create course
      |                      
      p.card-text Create courses with ease using our online tool!
      |                      
      a(href='/createcourse')
       button#create-btn.btn.btn-primary(type='button') Create course
      |             
   .col-md-6
    .card
     img.card-img-top(src='/Images/professor2.jpg', alt='professor2')
     |                   
     .card-body.text-center
      h5.card-title Delete course
      |                      
      p.card-text Don't like a course? Delete the courses you don't like.
      |                      
      a(href='/deletecourse')
       button#delete-btn.btn.btn-danger(type='button') Delete course
      // footer goes here
  hr
  |          
  footer
   .row
    .col-md-6
     p Copyright &copy; 2021 QC First
     |                
     .col-md-6.text-md-right
      a.text-dark(href='#') Terms of Use
      |  
      |                   
      span.text-muted.mx-2 |
      |  
      |                   
      a.text-dark(href='#') Privacy Policy