@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
Set being used across the site:
Crimison: #800000
light beige: #ecd5bb
dark blueish: #54627b

Other css colors
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff
*/

.myContainer {
  margin-top: 8%;
}

#course-description,
#num-of-credits,
#course-dates {
  border: 3px solid blueviolet;
}

.card-info {
  margin-top: 1%;
}

.card-img {
  width: 300px;
}

#searchresultstable {
  margin-top: 3%;
  border: 3px solid black;
  background: oldlace;
}

/*Disabling Functionality*/ 
.disabled {
  pointer-events:none;
  cursor:default;
  opacity:0.5;
}